body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #008C45; /* Green */
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 2em;
    text-align: center;
}

h1 {
    color: #CD212A; /* Red */
}

h2 {
    color: #008C45; /* Green */
}

footer {
    background-color: #CD212A; /* Red */
    color: white;
    text-align: center;
    padding: 1em 0;
}

.social-media {
    margin-bottom: 1em;
}

.social-media a {
    margin: 0 10px;
    color: white;
    font-size: 1.5em;
}

.social-media a:hover {
    color: #f8f8f8;
}
/* Ensure the paragraph does not exceed 700px in width */
p {
    max-width: 600px;
    margin: 0 auto; /* Center the paragraph */
    padding: 10px;  /* Add some padding for better readability */
}

/* Media query for tablets (portrait and landscape) */
@media (max-width: 768px) {
    p {
        padding: 15px;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    p {
        padding: 20px;
    }
}

/* CSS */
.small-img {
    max-width: 300px;
    height: auto;
}
